@import "tailwindcss";

.app-container {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;
  background-color: #f0f4f8; 
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;    
}
